

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.button{
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFFFFF ;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}

/* header styles for background images */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
/* to get the "space" in the center */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 900;
    font-size: 45px;
}

/* to clear the "dots" */
nav ul li{
    list-style: none; 
    margin-right: 50px ;
}

/* to clear the "underlines" */
nav ul a{
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

/* banner styles */
.banner-greetings{
    font-size: 45px;
    font-weight: lighter ;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
}
.banner-profile-picture{
    width: 584px ;
    height: 676px ;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 230px;
    
}
.banner-content{
    width: 585px;
    height: 356px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about styles */
.about{
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
    margin-top: 130px;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}
.skills{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    padding: 30px ;
    border-radius: 5px;

    
}

/* skill styles */
.skill-container{
    
    display: flex;
    gap: 30px
    
}
.skill{
    margin: 30px;
    padding:30px
    
}

/* resume styles */
.resume-container{
    display: flex;
    gap: 24px;
}

.column-description{
    color: #757575;
}
.column-sub-title{
    color: #757575;
    font-size: 20px;
}
.column-title{
    font-size: 25px;
}
.resume-title{
    font-size: 35px;
    text-align: center;
}

.resume-column{
    font-size: 30px;
}

.down-cv{
    padding: 60px;
}

/* footer styles */
.foot-column{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    
    
}
footer{
    padding: 130px 230px ;
}

footer input[type="text"], footer input[type="email"], footer textarea {

margin-bottom: 24px ;
padding: 18px 349px 18px 30px;
border: none;
display: block;
}

.footer-title{
    font-size: 35px;
    padding-bottom: 28px ;

}

.hide{
    display: none;
}


@media screen and (max-width:576px) {
    .skill-container, 
    .resume-container, 
    footer, 
    .about-items,
    .banner,
    nav{
        flex-direction: column;
    }
    .banner{
        margin: 10px;
    }
    .banner-profile-picture{
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }
    .banner-greetings{
        font-size: 10vw;
    }
    .banner-title{
        font-size: 7vw;
    }
    .banner-description{
        font-size: 3vw;
        padding-right: 210px;
        
    }
    .header{
        background-image: none;
    }
    .foot-column{
        width: 100%;

    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        padding: 10px 120px;
        margin-left: 10px;
        margin-right: 10px;
    }
    footer{
        padding: 0px;
    }
    .footer-title{
        margin-top: 20px;
    }
    .about{
        padding: 10px;
    }
   
    
}

@media screen and (min-width: 576px) and (max-width: 990px ) {
    
    .banner, 
    .about-items,
    .foot-column{
        flex-direction: column;
    }
    .banner-profile-picture{
        margin-top: 200px;
    }
}